<a class="active" href="{{ url_for("result")}}">Datasets</a>

<a class="active" href="{{ url_for("home")}}">Home</a>

<a class="active" href="{{ url_for("news")}}">News</a>

<a class="active" href="{{ url_for("weather_info")}}">Weather</a>

<ul>
    <li>1 USD = {{ rate.USD }} GHT</li>
    <li>1 EUR = {{ rate.EUR }} GHT</li>
    <li>1 PES = {{ rate.PES }} GHT</li>
    <li>1 CAN = {{ rate.CAN }} GHT</li>
</ul>

<table>
    {% for i in range (3) %}

 
             <th> <img src= {{ articles[i].image }}> </th>
             <td><a href= {{ articles[i].link }}  target="_blank"> {{ articles[i].title }} </a></td>
             <td> {{ articles[i].overview }}</td>
          </tr>
       {% endfor %}
</table>

<ul>
    <li><img src= {{ weather.icon }}></li>
    <li>City = {{ weather.city }}</li>
    <li>Coord = {{ weather.coord }}</li>
    <li>Weather = {{ weather.weather }}</li>
    <li>Temp Celcius = {{ weather.temp_C }}°C</li>
    <li>Pressure = {{ weather.pressure }} hPa</li>
    <li>Humidity = {{ weather.humidity }}%</li>
    <li>Sea Level = {{ weather.sea_level }} m</li>
    <li>Ground Level = {{ weather.grnd_level }} m</li>
    <li>Visibility  = {{ weather.visibility }} Km</li>
    <li>Speed Wind = {{ weather.wind_speed }} m/s</li>

</ul>