<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HD - Haiti Data</title>
  <link rel="stylesheet" href="/static/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


</head>
<body>
	<h1>Take a quick glance at the price of the item you want to buy!</h1>
	<div class="topnav">
	   <a class="active" href="{{ url_for("home")}}">Home</a>
	   <div class="search-container">
		  <form action="{{ url_for("result")}}" method="post">
		  <input type="text" placeholder="Search.." name="search">
		  <button type="submit" onclick="$('#loading').show();">Submit</button>
		  </form>
		  <a class="active" href="{{ url_for("news")}}">Haiti News</a>
	   </div>
	   <div id="loading" style="display:none;">Loading...</div>
<!-- partial:index.partial.html -->
<ul class="tilesWrap">
	{% for title, description, link in ocha %}
		<li>
			<h2>HD</h2>
			<h3>{{ title }}</h3>
			<p>
				{{ description }}.
			</p>
			<a href= {{ link }}  target="_blank"><button>See More</button></a>
		</li>
	{% endfor %}
	{% for title, description, link in amerigeoos %}
		<li>
			<h2>HD</h2>
			<h3>{{ title }}</h3>
			<p>
				{{ description }}.
			</p>
			<a href= {{ link }}  target="_blank"><button>See More</button></a>
		</li>
	{% endfor %}
</ul>
<!-- partial -->
  
</body>
</html>
