<a class="active" href="{{ url_for("result")}}">Datasets</a>

<a class="active" href="{{ url_for("home")}}">Home</a>

<div class="search-container">
    <form action="{{ url_for("news")}}" method="post">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit" onclick="$('#loading').show();">Submit</button>
    </form>
 </div>
 <div id="loading" style="display:none;">Loading...</div>

<table>
    {% for article in articles %}

 
             <th> <img src= {{ article.image }}> </th>
             <td><a href= {{ article.link }}  target="_blank"> {{ article.title }} </a></td>
             <td> {{ article.overview }}</td>
          </tr>
       {% endfor %}
</table>