<a class="active" href="{{ url_for("result")}}">Datasets</a>

<a class="active" href="{{ url_for("home")}}">Home</a>
<a class="active" href="{{ url_for("news")}}">News</a>


<div class="search-container">
    <form action="{{ url_for("weather_info")}}" method="post">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit" onclick="$('#loading').show();">Submit</button>
    </form>
</div>
<div id="loading" style="display:none;">Loading...</div>

<ul>
    <li><img src= {{ weather.icon }}></li>
    <li>City = {{ weather.city }}</li>
    <li>Coord = {{ weather.coord }}</li>
    <li>Weather = {{ weather.weather }}</li>
    <li>Temp Celcius = {{ weather.temp_C }}</li>
    <li>Pressure = {{ weather.pressure }} hPa</li>
    <li>Humidity = {{ weather.humidity }}%</li>
    <li>Sea Level = {{ weather.sea_level }} m</li>
    <li>Ground Level = {{ weather.grnd_level }} m</li>
    <li>Visibility  = {{ weather.visibility }} Km</li>
    <li>Speed Wind = {{ weather.wind_speed }} m/s</li>

</ul>