* {
  text-align: center;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 10% 15%;
}

#logo {
  width: 250px;
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: center;
}
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 7%;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.card-heading {
  font-size: 1.5rem;
}

/* Navbar */
.nav-item {
  padding: 0 18px;
}
.navbar {
  padding-bottom: 3.5rem;
}

.nav-link {
  font-size: 1rem;
}

.menuItem {
  color: #fff;
}

/* Card section */
.cardCol {
  padding: 50px;
}

.btn-redirect {
  margin: auto;
}

.colored-section {
  background: #82aae3;
  color: #fff;
}

.separator {
  width: 50%;
  margin: auto;
  border-style: none;
  border-color: grey;
  border-width: 5px;
}
#search {
  margin: 4px;
}
/* This section styled the news an datasets pages */
.feed-container {
  margin: 10%;
}
.list-group {
  padding: 5%;
}

/* responsive breakpoint */
@media (max-width: 920px) {
  #title {
    text-align: center;
  }
  .nav-item {
    text-align: right;
    line-height: normal;
    padding: 0;
  }
}

#copyright {
  height: 30px;
  padding: 5%;
}

.search-dataset {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 25px auto;
}

.card_datasets {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0.1px solid #696969;
}
.card_datasets h2,
.card_datasets p {
  text-align: left;
}

.card-content {
  padding: 20px;
  flex: 1;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.card-content p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.card-meta {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #888;
}

.card-meta span {
  margin-right: 10px;
} 
